<main class="aos-animation-parent">
    <section data-aos="fade-right" class="text-box">
        <h4 class="h4">{{ "contact.headline" | translate }}</h4>
        <h2>{{ "contact.second-headline" | translate }}</h2>
        <h4 class="font-fira">{{ "contact.question" | translate }}</h4>
        <p>{{ "contact.main-text" | translate }}</p>
        <p>{{ "contact.end-first" | translate }}<span class="color-accent">{{ "contact.end-second" | translate }}</span></p>
    </section>
    <section data-aos="fade-left" class="form-box">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="btn-form">
                <label for="name" class="btn-form-headline">{{ "contact.form.name.headline" | translate }}</label>
                <p #nameErr class="error-message">{{ "contact.form.name.err" | translate }}</p>
                <input (click)="getForm(contactForm)" title="{{ 'contact.form.name.title' | translate }}" autocomplete="off" [(ngModel)]="formData.name" name="name" id="name" type="text" [placeholder]="translation.formPlaceholder[0]" required pattern="[a-zA-Z.\- ]{3,50}">
            </div>
            <div class="btn-form">
                <label for="email" class="btn-form-headline">{{ "contact.form.email.headline" | translate }}</label>
                <p #emailErr class="error-message">{{ "contact.form.email.err" | translate }}</p>
                <input (click)="getForm(contactForm)" autocomplete="off" [(ngModel)]="formData.email" name="email" id="email" type="text" [placeholder]="translation.formPlaceholder[1]" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            </div>
            <div class="btn-form">
                <label for="message" class="btn-form-headline">{{ "contact.form.message.headline" | translate }}</label>
                <p #messageErr class="error-message">{{ "contact.form.message.err" | translate }}</p>
                <input (click)="getForm(contactForm)" title="{{ 'contact.form.message.title' | translate }}" autocomplete="off" [(ngModel)]="formData.message" name="message" id="message" type="text" [placeholder]="translation.formPlaceholder[2]" required pattern='(^[a-zA-Z0-9ß.;:_%+*!? \-\,\(\)\/\"]{10,1000}$)'>
            </div>
            <div class="checkbox-box">
                <div class="position-relative">
                    <label for="policy-check">
                        @if (formData.terms) {
                        <img class="checkbox-icon" src="assets/img/checkbox_checked.svg" alt="privacy policy accepted">
                        } @else {
                        <img class="checkbox-icon" src="assets/img/checkbox_unchecked.svg" alt="privacy policy not accepted">
                        }
                    </label>
                    <input (change)="onCheckboxChange($event); getForm(contactForm);" id="policy-check" class="policy-check" type="checkbox" required>
                </div>
                <span>{{ "contact.form.check-box-first" | translate }}<a href="">{{ "contact.form.check-box-link" | translate }}</a>{{ "contact.form.check-box-end" | translate }}</span>
            </div>
            @if (formData.terms) {
            <button class="btn-primary"><span class="btn-primary-text">{{ "contact.form.btn" | translate }}</span></button>
            } @else {
            <button disabled class="btn-primary"><span class="btn-primary-text">{{ "contact.form.btn" | translate }}</span></button>
            }
        </form>
    </section>
</main>