@use './../../../styles.scss' as *;

main {
    @include flex($j: space-between, $a: flex-start, $g: 88px);
}

section {
    max-width: 45%;
}

h2 {
    white-space: pre-wrap;
}

.h4 {
    font-weight: 500;
}

.font-fira {
    font-family: Fira Code;
}

.color-accent {
    color: $color-accent;
}

.text-box {
    @include flex($a: flex-start, $d: column, $f: 1);
}

.form-box {
    @include flex($d: column, $f: 1);

    &>form {
        width: 100%;
        @include flex($d: column);

        &>button {
            align-self: center;
        }
    }
}

.btn-form {
    width: 100%;
    padding: 32px;
    border: 1px solid $color-accent;
    border-left: unset;
    border-right: unset;
    @include flex($d: column, $a: flex-start, $g: 16px);

    &>label {
        font-family: Fira Code;
        font-size: 24px;
        color: $color-accent;
    }

    &>input {
        font-size: 18px;
        background-color: unset;
        color: $color-contrast;
        outline: unset;
        border: unset;
        width: 100%;
    }
}

::placeholder {
    color: rgba($color-contrast, 0.8);
    font-size: 18px;
}

.checkbox-box {
    margin: 46px 0;
    @include flex($g: 24px);
    align-self: flex-start;

    &>span>a {
        color: $color-accent;
    }

    &>label {
        width: 24px;
        height: 24px;

    }
}

#policy-check {
    opacity: 0;
    width: 24px;
    height: 24px;
    // cursor: pointer;
}

.checkbox-icon {
    @include img();
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;

    &:hover {
        background-image: radial-gradient(circle at center, rgba($color-accent, 0.3) 0%, $color-main 12px);
    }
}

@media (max-width: 900px) {
    section {
        max-width: 100%;
        width: 100%;
    }

    main {
        @include flex($d: column, $j: space-between, $g: 64px);
        padding: 0 $padding-main-sides-900 $padding-main-bottom $padding-main-sides-900;
    }
}

@media (max-width: 750px) {
    section {
        max-width: 100%;
    }

    main {
        @include flex($d: column, $j: space-between, $g: 64px);
        padding: 0 $padding-main-sides-750 $padding-main-bottom-750 $padding-main-sides-750;
    }
}

@media (max-width: 600px) {
    section {
        max-width: 100%;
    }

    main {
        @include flex($d: column, $j: space-between, $g: 64px);
        padding: 0 $padding-main-sides-600 $padding-main-bottom-750 $padding-main-sides-600;
    }

    .btn-form {
        padding: 16px;
    }
}