<main class="aos-animation-parent">
    <h3 data-aos="flip-right">Fullstack {{ "atf.dev" | translate }}</h3>
    <h1 data-aos="flip-left">Nicolas Voges</h1>
    <div class="btn-box aos-animation-parent">
        <button routerLink="/" fragment="projects" data-aos="fade-right" class="btn-primary"><span class="btn-primary-text">{{ "atf.btn.projects" | translate }}</span></button>
        <button routerLink="/" fragment="contact" data-aos="fade-left" class="btn-primary"><span class="btn-primary-text">{{ "atf.btn.contact" | translate }}</span></button>
    </div>
    <aside data-aos="fade-right" class="decorator left-decorator-position">
        <div routerLink="/" fragment="about-me" class="arrow-box">
            <img class="arrow-down" src="./../../../assets/img/arrow_down.svg" alt="arrow down">
        </div>
        <div class="vertical-line"></div>
    </aside>
    <aside data-aos="fade-left" class="decorator right-decorator-position">
        <a href="mailto:contact@nicolas-voges.de" class="e-mail">contact&#64;nicolas-voges.de</a>
        <div class="social-box">
            <div class="single-icon-box position-relative">
                <a class="social-icon-link" href="https://github.com/Nicolas-Voges" target="_blank"><img class="social-icon" src="assets/img/github.svg" alt="github"></a>
                <img class="social-green-dot green-dot" src="assets/img/green_dot.svg" alt="">
            </div>
            <div class="position-relative">
                <a class="social-icon-link" href="https://de.linkedin.com/in/nicolas-voges-1903762b8?trk=people-guest_people_search-card" target="_blank"><img class="social-icon" src="assets/img/linkedin.svg" alt="linkedin"></a>
                <img class="social-green-dot green-dot" src="assets/img/green_dot.svg" alt="">
            </div>
        </div>
        <div class="vertical-line-small"></div>
    </aside>
    <section class="text-tape">
        <div class="text-view-box">
            <div class="text-box" [ngClass]="{'text-box-animation': textboxAnimated}">
                    <img class="green-dot" src="assets/img/green_dot.svg" alt="">
                    @for (item of translation.textTape; track $index) {
                        <span class="text-tape-text">{{ item }}</span>
                        <img class="green-dot" src="assets/img/green_dot.svg" alt="">
                    }
                    @for (item of translation.textTape; track $index) {
                        <span class="text-tape-text">{{ item }}</span>
                        <img class="green-dot" src="assets/img/green_dot.svg" alt="">
                    }
            </div>
        </div>
    </section>
</main>