<main>
    <h3>Frontend Developer</h3>
    <h1>Nicolas Voges</h1>
    <div class="btn-box">
        <button class="primary-btn"><span class="primary-btn-text">Check my work</span></button>
        <button class="primary-btn"><span class="primary-btn-text">Contact me</span></button>
    </div>
    <aside class="decorator left-96">
        <div class="arrow-box">
            <img class="arrow-down" src="./../../../assets/img/arrow_down.svg" alt="arrow down">
        </div>
        <div class="vertical-line"></div>
    </aside>
    <aside class="decorator right-96">
        <span class="e-mail">Nicolas.voges&#64;hotmail.com</span>
        <div class="social-box">
            <div class="single-icon-box position-relative">
                <img class="social-icon" src="assets/img/github.svg" alt="github">
                <img class="social-green-dot" src="assets/img/green_dot.svg" alt="">
            </div>
            <div class="position-relative">
                <img class="social-icon" src="assets/img/linkedin.svg" alt="linkedin">
                <img class="social-green-dot" src="assets/img/green_dot.svg" alt="">
            </div>
        </div>
        <div class="vertical-line-small"></div>
    </aside>
    <section class="text-tape">
        <span class="text-tape-text">Open to work</span>
        <img src="assets/img/green_dot.svg" alt="">
        <span class="text-tape-text">Also available for remote work</span>
        <img src="assets/img/green_dot.svg" alt="">
        <span class="text-tape-text">Frontend Developer</span>
        <img src="assets/img/green_dot.svg" alt="">
        <span class="text-tape-text">Based in Wolfenbüttel</span>
        <img src="assets/img/green_dot.svg" alt="">
    </section>
</main>
