<main>
    <h3>Frontend {{ "atf.dev" | translate }}</h3>
    <h1>Nicolas Voges</h1>
    <div class="btn-box">
        <button class="btn-primary"><span class="btn-primary-text">{{ "atf.btn.projects" | translate }}</span></button>
        <button class="btn-primary"><span class="btn-primary-text">{{ "atf.btn.contact" | translate }}</span></button>
    </div>
    <aside class="decorator left-decorator-position">
        <div class="arrow-box">
            <img class="arrow-down" src="./../../../assets/img/arrow_down.svg" alt="arrow down">
        </div>
        <div class="vertical-line"></div>
    </aside>
    <aside class="decorator right-decorator-position">
        <span class="e-mail">Nicolas.voges&#64;hotmail.com</span>
        <div class="social-box">
            <div class="single-icon-box position-relative">
                <img class="social-icon" src="assets/img/github.svg" alt="github">
                <img class="social-green-dot green-dot" src="assets/img/green_dot.svg" alt="">
            </div>
            <div class="position-relative">
                <img class="social-icon" src="assets/img/linkedin.svg" alt="linkedin">
                <img class="social-green-dot green-dot" src="assets/img/green_dot.svg" alt="">
            </div>
        </div>
        <div class="vertical-line-small"></div>
    </aside>
    <section class="text-tape">
        <div class="text-view-box">
            <div #textBox id="text-box" class="text-box text-box-animation" [ngClass]="{'text-box-animation': textboxAnimated}">
                    <img class="green-dot" src="assets/img/green_dot.svg" alt="">
                    @for (item of translation.textTape; track $index) {
                        <span class="text-tape-text">{{ item }}</span>
                        <img class="green-dot" src="assets/img/green_dot.svg" alt="">
                    }
                    @for (item of translation.textTape; track $index) {
                        <span class="text-tape-text">{{ item }}</span>
                        <img class="green-dot" src="assets/img/green_dot.svg" alt="">
                    }
            </div>
        </div>
    </section>
</main>
