 @use './../../../styles.scss' as *;

 :host {
    background-image: $linear-gradient;
    height: 100vh;
    width: 100%;
    @include flex();
    overflow-x: hidden;
 }

 main {
    position: relative;
    @include flex($d: column);
    text-align: center;
    padding: 0 $padding-main-sides;
    height: 100vh;
 }

 .btn-box {
    margin-top: 40px;
    @include flex($g: 48px);
 }

 .decorator {
    align-self: baseline;
    position: absolute;
    bottom: calc(-50vh + 50%);
    @include flex($d: column, $a: center, $g: 24px)
 }

 .left-decorator-position {
    left: $padding-main-sides;
 }

 .right-decorator-position {
    right: $padding-main-sides;
 }

 .social-box {
    padding: 3px;
    @include flex($g: 16px, $d: column);
 }

 .single-icon-box {
    width: 26px;
    height: 26px;
 }

 .e-mail {
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
    font-size: 18px;
 }

 .vertical-line {
    height: 240px;
    width: 0;
    border: 1px solid $color-accent;
 }

 .vertical-line-small {
    height: 186px;
    width: 0;
    border: 1px solid $color-contrast;
 }

 @keyframes bounce {
    0% {
       transform: translateY(0);
    }

    50% {
       transform: translateY(8px);
    }

    100% {
       transform: translateY(0);
    }
 }

 .arrow-box {
    width: 30px;
    height: 48px;
    border: 1px solid $color-accent;
    border-radius: 32px;
    @include flex();
 }

 .arrow-down {
    width: 14px;
    height: 14px;
    animation: bounce 1.25s ease-in-out infinite;
 }

 .social-icon {
    position: relative;
    cursor: pointer;
    width: 26px;
    height: 26px;
    object-fit: contain;
    object-position: center;
    filter: $filter-accent;
    transition: all 0.125s ease-in-out;

    &:hover {
       filter: unset;
    }

    &:hover~.social-green-dot {
       opacity: 1;
    }
 }

 .social-green-dot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -16px;
    opacity: 0;
    transition: all 0.125s ease-in-out;
 }

 .text-tape {
    position: absolute;
    bottom: 020px;
    transform: rotateZ(-3deg) translateY(-2.6205vw);
    z-index: 1;
    width: 105vw;
    padding: 12px 108px;
    backdrop-filter: blur(3px);
    overflow: hidden;
    background-color: rgba($color: $color-contrast, $alpha: 0.12);
    @include flex($g: 0);
    cursor: default;
 }

 .text-tape-text {
    font-size: 32px;
    color: $color-accent;
    white-space: nowrap;
 }

 @keyframes text-flow {
    0% {
       transform: translateX(0);
    }

    100% {
       transform: translateX(-49.9%);
    }
 }

 .text-box {
    width: max-content;
    @include flex($g: 56px, $j: flex-start);
    animation: text-flow 20s linear infinite;
 }

 .text-view-box {
    overflow: hidden;
    max-width: 1980px;
 }

 @media (min-width: 1980px) {
    .text-tape {
       transform: rotateZ(-3deg) translateY(calc(-1980px * 0.026205 * 1.2));
    }
 }

 @media (min-width: 3000px) {
    :host {
       overflow: hidden;
    }

    .text-tape {
       transform: rotateZ(-3deg) translateY(calc(-1980px * 0.026205 * 1.5));
    }
 }