<main>
    @if (showMenu) {
        <div #menu class="links-box">
            <div class="translation-box">
                <input type="checkbox" name="checkbox" id="translation" class="btn-translation">
                <label for="translation"></label>
            </div>
            <div class="link-box">
                <a>About me{{ 'test' | translate }}</a>
                <img class="link-underline" src="assets/img/green_dot.svg" alt="underline">
            </div>
            <div class="link-box">
                <a>Skills</a>
                <img class="link-underline" src="assets/img/green_dot.svg" alt="underline">
            </div>
            <div class="link-box">
                <a>Projects</a>
                <img class="link-underline" src="assets/img/green_dot.svg" alt="underline">
            </div>  
        </div>
    }
    <img class="logo" src="assets/img/logo.png" alt="logo">
    <button #menuToggle (click)="toggleMenu()" class="btn-menu"><img class="btn-menu-img" src="assets/img/menu.svg" alt="menu"></button>
</main>