<main>
    @if (showMenu) {
        <div #menu class="links-box">
            <div (change)="translation.changeLanguage()" class="translation-box">
                @if (translation.de) {
                    <input type="checkbox" name="checkbox" id="translation" class="btn-translation">
                } @else {
                    <input type="checkbox" name="checkbox" id="translation" class="btn-translation" checked>
                }
                <label for="translation"></label>
            </div>
            <div class="link-box">
                <a routerLink="/" fragment="about-me">{{ 'header.about-me' | translate }}</a>
                <img class="link-underline" src="assets/img/green_dot.svg" alt="underline">
            </div>
            <div class="link-box">
                <a routerLink="/" fragment="skill-set">Skills</a>
                <img class="link-underline" src="assets/img/green_dot.svg" alt="underline">
            </div>
            <div class="link-box">
                <a routerLink="/" fragment="projects">{{ 'header.projects' | translate }}</a>
                <img class="link-underline" src="assets/img/green_dot.svg" alt="underline">
            </div>  
        </div>
    }
    <img routerLink="/" fragment="atf" class="logo" src="assets/img/logo.svg" alt="logo">
    <button #menuToggle (click)="toggleMenu()" class="btn-menu"><img class="btn-menu-img" src="assets/img/menu.svg" alt="menu"></button>
</main>