<main>
    @if (showMenu) {
        <div data-aos="fade-down" #menu class="links-box">
            <div (change)="translation.changeLanguage()" class="translation-box">
                <input type="checkbox" name="checkbox" id="translation" class="btn-translation">
                <label for="translation"></label>
            </div>
            <div class="link-box">
                <a>{{ 'header.about-me' | translate }}</a>
                <img class="link-underline" src="assets/img/green_dot.svg" alt="underline">
            </div>
            <div class="link-box">
                <a>Skills</a>
                <img class="link-underline" src="assets/img/green_dot.svg" alt="underline">
            </div>
            <div class="link-box">
                <a>{{ 'header.projects' | translate }}</a>
                <img class="link-underline" src="assets/img/green_dot.svg" alt="underline">
            </div>  
        </div>
    }
    <img data-aos="fade-down" class="logo" src="assets/img/logo.png" alt="logo">
    <button data-aos="fade-down" #menuToggle (click)="toggleMenu()" class="btn-menu"><img class="btn-menu-img" src="assets/img/menu.svg" alt="menu"></button>
</main>