@use './../../../styles.scss' as *;

main {
    @include flex($d: column);
    overflow-x: hidden;
}

nav {
    margin-top: 48px;
    @include flex($g: 20px);
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, $color-main, transparent, transparent, $color-main);
    pointer-events: none;
    z-index: 1;
}

.slider-cards-box {
    @include flex($g: 64px);
}

.slider-card {
    padding: 48px 40px;
    @include flex();
    width: 44vw;
    max-width: 632px;
    max-height: 274px;
    height: 274px;
    border: 1px solid $color-accent;
    border-radius: 24px;
    cursor: pointer;
}

.active-card {
    background-color: rgba($color-accent, 0.3);
}

.passive-card {
    background-color: rgba($color-accent, 0.1);
    transform: scaleY(0.9);
}

.active-dot {
    filter: $filter-accent;
}

.passive-dot {
    filter: unset;
}

@keyframes out-right {
    0% {
        
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9);
    }

    100% {
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9) translateX(calc(-100% - 64px));
    }
}

.move-right-from-out {
    animation: out-right 1s ease-in-out backwards;
}

@keyframes right-center {
    0% {
        
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9);
    }

    100% {
        background-color: rgba($color-accent, 0.3);
        transform: scaleY(1) translateX(calc(-100% - 64px));
    }
}

.move-center-from-right {
    animation: right-center 1s ease-in-out backwards;
}

@keyframes center-left {
    0% {
        background-color: rgba($color-accent, 0.3);
        transform: scaleY(1);
    }

    100% {
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9) translateX(calc(-100% - 64px));
    }
}

.move-left-from-center {
    animation: center-left 1s ease-in-out backwards;
}

@keyframes left-out {
    0% {
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9);
    }

    100% {
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9) translateX(calc(-100% - 64px));
    }
}

.move-out-from-left {
    animation: left-out 1s ease-in-out backwards;
}


@keyframes out-left {
    0% {
        
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9);
    }

    100% {
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9) translateX(calc(100% + 64px));
    }
}

.move-left-from-out {
    animation: out-left 1s ease-in-out backwards;
}

@keyframes left-center {
    0% {
        
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9);
    }

    100% {
        background-color: rgba($color-accent, 0.3);
        transform: scaleY(1) translateX(calc(100% + 64px));
    }
}

.move-center-from-left {
    animation: left-center 1s ease-in-out backwards;
}

@keyframes center-right {
    0% {
        background-color: rgba($color-accent, 0.3);
        transform: scaleY(1);
    }

    100% {
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9) translateX(calc(100% + 64px));
    }
}

.move-right-from-center {
    animation: center-right 1s ease-in-out backwards;
}

@keyframes right-out {
    0% {
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9);
    }

    100% {
        background-color: rgba($color-accent, 0.1);
        transform: scaleY(0.9) translateX(calc(100% + 64px));
    }
}

.move-out-from-right {
    animation: right-out 1s ease-in-out backwards;
}