 @use './../../../styles.scss' as *;

 main {
     @include flex($a: flex-start, $d: column);
     padding: 0 $padding-main-sides $padding-main-bottom $padding-main-sides;
 }

 p {
     max-width: 456px;
 }

 h1 {
     color: $color-accent;
 }

 h2 {
     //  color: $color-contrast;
     white-space: unset;
 }

 .flex-evenly {
     @include flex($j: space-evenly);
 }

 .flex-between {
     @include flex($j: space-between);
 }

 .project {
     @include flex($j: space-between);
     width: 100%;
 }

 .project-img {
     @include img();
     width: 296px;
     height: 192px;
     border-radius: 16px;
     position: absolute;
     top: 0;
     // bottom: 0;
     left: 0;
     right: 0;
     transform: translateY(-50%);
 }

 .img-box {
     margin-left: 80px;
     width: 296px;
     opacity: 0;
     transition: all 0.125s ease-in-out;
 }

 .btn-project {
     max-width: 880px;
     width: 880px;
     padding: 40px 32px;
     border: 1px solid $color-accent;
     border-left: unset;
     border-right: unset;
     cursor: pointer;
     @include flex($j: space-between);

     &:hover~.img-box {
         opacity: 1;
     }

     &:hover {
         background-color: rgba($color-accent, 0.3);
     }
 }

 .margin-bottom-40 {
     margin-bottom: 40px;
 }

 .background {
     margin-right: 96px;
     z-index: -1;
     transform: translate(20px, calc(20px - 50%));
 }

 .seperator {
     color: $color-accent;
 }

 .name {
     font-family: Fira Code;
     font-weight: 700;
 }

 .overlay {
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     width: 100%;
     z-index: 2;
     background-color: rgba(#000, 0.7);
     @include flex();
 }

 .project-card {
     height: 90vh;
     width: 80vw;
     max-width: calc(1980px - (2 * $padding-main-sides));
     padding: 0 72px;
     background-image: $linear-gradient;
     border-radius: 32px;
     @include flex($g: 88px);
     cursor: default;
     overflow: hidden;
 }

 .scroll-box {
     overflow: auto;
     width: 100%;
     height: 95%;
     padding: 0 16px;
     @include flex($g: 88px);
 }

 .project-card-right {
     @include flex($d: column, $a: flex-end, $j: space-between, $f: 1, $g: 32px);
     height: 100%;
     width: 45%;
     padding: 56px 0;

     &>.btn-close {
         cursor: pointer;
         transition: all 0.125s ease-in-out;

         &:hover {
             filter: $filter-accent;
             transform: scale(1.2);
         }
     }
 }

 .project-card-img {
     width: 100%;
     @include img();
     border-radius: 30px;
 }

 .btn-next {
     @include flex($g: 4px);
     font-size: 18px;
     color: $color-accent;
     transition: all 0.125s ease-in-out;

     &>img {
         width: 24px;
         height: 18px;
         @include img();
         filter: $filter-accent;
         transition: all 0.125s ease-in-out;
     }

     &:hover {
         color: $color-contrast;
     }

     &:hover img {
         transform: translateX(4px) scale(1.2);
     }
 }

 .project-card-left {
     @include flex($d: column, $a: flex-start, $f: 1);
     width: 45%;
 }

 .project-card-skills-box {
     margin: 32px 0 40px 0;
     @include flex($j: flex-start, $g: 16px, $w: wrap);
 }

 .project-card-skill {
     @include flex($g: 4px);
 }

 .project-card-skill-img {
     @include img();
     width: 24px;
     height: 24px;
     filter: $filter-accent;
 }

 .project-card-describtion {
     font-size: 18px;
 }

 .project-card-btn-box {
     @include flex($g: 32px);
     transition: all 0.125s ease-in-out;

     &>button {
         @include flex($g: 8px);
         white-space: nowrap;
     }

     &>button>img {
         transition: all 0.125s ease-in-out;
     }

     &>button:hover {
         color: $color-accent;
     }

     &>button:hover>img {
         transform: translate(4px, -4px);
     }
 }

 @media (max-width: 1200px) {
     .img-box {
         display: none;
     }
 }

 @media (max-width: 1000px) {
     h2 {
         margin: 0;
     }

     .project-card {
         height: 90vh;
         width: 90vw;
         padding: 32px 16px 8px 16px;
     }

     .scroll-box {
         @include flex($d: column-reverse, $g: 32px);

     }

     .btn-next {
         position: absolute;
         bottom: 44px;
         right: 44px;
     }

     .btn-close {
         position: fixed;
         top: calc(16px + 5vh);
         right: calc(16px + 5vw);
     }

     .project-card-left {
         width: 100%;
         margin-bottom: calc(5vh + 94px);
     }

     .project-card-right {
         width: 100%;
         @include flex($d: column, $f: 1);
     }

     .project-card-btn-box {
         margin-bottom: 94px;
     }

     .project-card-img {
         width: auto;
         height: 264px;
     }
 }

 @media (max-width: 880px) {
     .img-box {
         display: none;
     }

     .btn-project {
         max-width: 880px;
         width: 100%;
         padding: 40px 32px;

         &:hover~.img-box {
             opacity: 0;
         }

         &:hover {
             background-color: unset;
         }
     }
 }

 @media (max-width: 900px) {
     main {
         padding: 0 $padding-main-sides-900 $padding-main-bottom $padding-main-sides-900;
     }
 }

 @media (max-width: 750px) {
     main {
         padding: 0 $padding-main-sides-750 $padding-main-bottom-750 $padding-main-sides-750;
     }

     .photo-background {
         display: none;
     }
 }

 @media (max-width: 600px) {
     h4 {
         white-space: wrap;
     }

     main {
         padding: 0 $padding-main-sides-600 $padding-main-bottom-750 $padding-main-sides-600;
     }

     .btn-project {
         @include flex($d: column, $a: flex-start, $j: space-between, $g: 10px);
         padding: 32px 0;
     }

     .project-card-img {
         width: 100%;
         height: auto;
     }

     .project-card-btn-box {
         margin-bottom: 232px;
         @include flex($g: 8px);
     }
 }