<main class="aos-animation-parent">
    <div data-aos="fade-down" class="flex-between width-100">
        <div>
            <h4>{{ "projects.headline" | translate }}</h4>
            <h2>{{ "projects.second-headline" | translate }}</h2>
            <p class="margin-bottom-40">{{ "projects.main-text" | translate }}</p>
        </div>
    </div>
    @for (project of projects; track project; let i = $index) {
        <div data-aos="flip-left" class="project">
            <div class="btn-project" (click)="openProjectCard(i)">
                <span class="name">{{ project.name }}</span>
                <span class="skill">
                    @for (skill of project.skills; track skill; let j = $index) {
                        @if (j === project.skills.length -1) {
                            {{ skill }}
                        } @else {
                            {{ skill }} <span class="seperator">|</span>
                        }
                    }
                </span>
            </div>

            @if (i + 0.5 < projects.length / 2) {
            <div [ngStyle]="{ transform: 'translateY(24px)' }" class="img-box position-relative">
                <img class="project-img" src="assets/img/{{ project.name.toLocaleLowerCase().replaceAll(' ','_') }}.png" alt="{{ project.name }}">
                <img class="project-img background" src="assets/img/project_background.svg" alt="project background">
            </div>
            }
            @else if (i + 0.5 == projects.length / 2) {
            <div class="img-box position-relative">
                <img class="project-img" src="assets/img/{{ project.name.toLocaleLowerCase().replaceAll(' ','_') }}.png" alt="{{ project.name }}">
                <img class="project-img background" src="assets/img/project_background.svg" alt="project background">
            </div>
            }
            @else {
                <div [ngStyle]="{ transform: 'translateY(-24px)' }" class="img-box position-relative">
                    <img class="project-img" src="assets/img/{{ project.name.toLocaleLowerCase().replaceAll(' ','_') }}.png" alt="{{ project.name }}">
                    <img class="project-img background" src="assets/img/project_background.svg" alt="project background">
                </div>
            }
        </div>
        <section class="overlay" [ngClass]="{'display-none': !project.displayCard}">
            <div class="project-card position-relative">
                <div class="scroll-box">
                    <div class="scroll-child position-relative">
                        <div class="project-card-left">
                            @if (project.number < 10) {
                                <h1>0{{ project.number }}</h1>
                            } @else {
                                <h1>{{ project.number }}</h1>
                            }
                            <h2>{{ project.name }}</h2>
                            <h4>{{ "projects.card-headline" | translate }}</h4>
                            <p class="project-card-describtion">{{ "projects." + project.descriptionRef | translate }}</p>
                            <p class="project-card-skills-box">
                                @for (skill of project.skills; track $index) {
                                    <span class="project-card-skill"><img class="project-card-skill-img" src="assets/img/skill_set_icons/{{ skill.toLocaleLowerCase().replaceAll(' ','_') }}.svg" alt="{{ skill }}">{{ skill }}</span>
                                }
                            </p>
                            <div class="project-card-btn-box">
                                <a href="{{ project.linkGit }}" target="_blank" class="btn-primary"><span class="link">GitHub <img src="assets/img/arrow_up_right.svg" alt=""></span></a>
                                @if (project.linkLive) {
                                    <a href="{{ project.linkLive }}" target="_blank" class="btn-primary"><span class="link">Live Test <img src="assets/img/arrow_up_right.svg" alt=""></span></a>
                                }
                            </div>
                            <button (click)="showNextProject(i)" class="btn-next mobile">Next Project <img src="assets/img/arrow_forward.svg" alt="arrow right"></button>
                        </div>
                        <div class="project-card-right">
                            <img (click)="closeProjectCard(i)" class="btn-close" src="assets/img/x.svg" alt="close">
                            <img class="project-card-img" src="assets/img/{{ project.name.toLocaleLowerCase().replaceAll(' ','_') }}.png" alt="{{ project.name }}">
                            <button (click)="showNextProject(i)" class="btn-next desktop">Next Project <img src="assets/img/arrow_forward.svg" alt="arrow right"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</main>