<main>
    <div class="flex-between width-100">
        <div>
            <h4>Portfolio</h4>
            <h2>Featured Projects</h2>
            <p class="margin-bottom-40">Explore a selection of my work here - Interact with projects to see my skills in action.</p>
        </div>
        <!-- <div> -->
            <!-- Placeholder -->
        <!-- </div> -->
    </div>
    @for (project of projects; track project; let i = $index) {
        <div class="project">
            <div class="project-btn" (click)="openProjectCard(i)">
                <span class="name">{{ project.name }}</span>
                <span class="skill">
                    @for (skill of project.skills; track skill; let j = $index) {
                        @if (j === project.skills.length -1) {
                            {{ skill }}
                        } @else {
                            {{ skill }} <span class="seperator">|</span>
                        }
                    }
                </span>
            </div>

            @if (i + 0.5 < projects.length / 2) {
            <div [ngStyle]="{ transform: 'translateY(24px)' }" class="img-box position-relative">
                <img class="project-img" src="assets/img/{{ project.name.toLocaleLowerCase().replaceAll(' ','_') }}.png" alt="{{ project.name }}">
                <img class="project-img background" src="assets/img/project_background.svg" alt="project background">
            </div>
            }
            @else if (i + 0.5 == projects.length / 2) {
            <div class="img-box position-relative">
                <img class="project-img" src="assets/img/{{ project.name.toLocaleLowerCase().replaceAll(' ','_') }}.png" alt="{{ project.name }}">
                <img class="project-img background" src="assets/img/project_background.svg" alt="project background">
            </div>
            }
            @else {
                <div [ngStyle]="{ transform: 'translateY(-24px)' }" class="img-box position-relative">
                    <img class="project-img" src="assets/img/{{ project.name.toLocaleLowerCase().replaceAll(' ','_') }}.png" alt="{{ project.name }}">
                    <img class="project-img background" src="assets/img/project_background.svg" alt="project background">
                </div>
            }
        </div>
        <section class="overlay" [ngClass]="{'display-none': !project.displayCard}" (click)="closeProjectCard(i)">
            <div class="project-card">
                <div class="project-card-left">
                    @if (project.number < 10) {
                        <h1>0{{ project.number }}</h1>
                    } @else {
                        <h1>{{ project.number }}</h1>
                    }
                    <h2>{{  project.name}}</h2>
                    <h4>What is this project about?</h4>
                    <p class="project-card-describtion">{{ project.description }}</p>
                    <p class="project-card-skills-box">
                        @for (skill of project.skills; track $index) {
                            <span class="project-card-skill"><img class="project-card-skill-img" src="assets/img/skill_set_icons/{{ skill.toLocaleLowerCase().replaceAll(' ','_') }}.svg" alt="{{ skill }}">{{ skill }}</span>
                        }
                    </p>
                </div>
                <div class="project-card-right">
                    <img (click)="closeProjectCard(i)" class="btn-close" src="assets/img/x.svg" alt="close">
                    <img class="project-card-img" src="assets/img/{{ project.name.toLocaleLowerCase().replaceAll(' ','_') }}.png" alt="{{ project.name }}">
                    <button class="btn-next">Next Project <img src="assets/img/arrow_forward.svg" alt="arrow right"></button>
                </div>
            </div>
        </section>
    }
</main>