 @use './../../../styles.scss' as *;

 main {
     @include flex($a: flex-start, $d: column);
     padding: 0 $padding-main-sides $padding-main-bottom $padding-main-sides;
 }

 p {
     max-width: 456px;
 }

 h1 {
    color: $color-accent;
 }

 h2 {
    color: $color-contrast;
 }

 .flex-evenly {
     @include flex($j: space-evenly);
 }

 .flex-between {
     @include flex($j: space-between);
 }

 .project {
     @include flex($j: space-between);
     width: 100%;
 }

 .project-img {
     @include img();
     width: 296px;
     height: 192px;
     border-radius: 16px;
     position: absolute;
     top: 0;
     // bottom: 0;
     left: 0;
     right: 0;
     transform: translateY(-50%);
 }

 .img-box {
     margin-left: 80px;
     width: 296px;
     opacity: 0;
     transition: all 0.125s ease-in-out;
 }

 .project-btn {
     max-width: 880px;
     width: 880px;
     padding: 40px 32px;
     border: 1px solid $color-accent;
     border-left: unset;
     border-right: unset;
     cursor: pointer;
     @include flex($j: space-between);

     &:hover~.img-box {
         opacity: 1;
     }

     &:hover {
         background-color: rgba($color-accent, 0.3);
     }
 }

 .margin-bottom-40 {
     margin-bottom: 40px;
 }

 .background {
     margin-right: 96px;
     z-index: -1;
     transform: translate(20px, calc(20px - 50%));
 }

 .seperator {
     color: $color-accent;
 }

 .name {
     font-family: Fira Code;
     font-weight: 700;
 }

 .overlay {
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     width: 100%;
     z-index: 2;
     background-color: rgba(#000, 0.7);
     @include flex();
 }

 .project-card {
     height: 70vh;
     width: 80vw;
     max-width: calc(1980px - (2 * $padding-main-sides));
     padding: 80px;
     background-image: $linear-gradient;
     border-radius: 32px;
     @include flex($g: 88px);
 }

 .project-card-right {
    @include flex($d: column, $a: flex-end, $j: space-between, $f: 1);
    height: 100%;

    &>.btn-close {
        cursor: pointer;
    }
 }

 .project-card-img {
    width: 100%;
    @include img();
    border-radius: 30px;
 }

 .btn-next {
    @include flex($g: 4px);
    font-size: 18px;
    color: $color-accent;

    &>img {
        width: 24px;
        height: 18px;
        @include img();
        filter: $filter-accent;
    }
 }

 .project-card-left {
    @include flex($d: column, $a: flex-start, $f: 1);
 }

 .project-card-skills-box {
    margin: 32px 0 40px 0;
    @include flex($j: flex-start, $g: 16px);
 }

 .project-card-skill {
    @include flex($g: 4px);
 }

 .project-card-skill-img {
    @include img();
    width: 24px;
    height: 24px;
    filter: $filter-accent;
 }

 .project-card-describtion {
    font-size: 18px;
 }

 @media (max-width: 1200px) {
     .img-box {
         display: none;
     }
 }

 @media (max-width: 880px) {
     .img-box {
         display: none;
     }

     .project-btn {
         max-width: 880px;
         width: 100%;
         padding: 40px 32px;

         &:hover~.img-box {
             opacity: 0;
         }

         &:hover {
             background-color: unset;
         }
     }
 }