<main>
    <section class="photo-box">
        <img class="photo" src="assets/img/photo.png" alt="photo">
        <img class="photo-background" src="assets/img/hover_photo.svg" alt="photo background">
    </section>
    <section class="text-box">
        <h4>Who I Am</h4>
        <div class="card">
            <h2>About me</h2>
            <p class="main-text">Hallo, mit mir als Frontendentwickler gewinnt Ihr Unternehmen einen strukturierten, verantwortungsbewusten und teamfähigen Mitarbeiter. Zudem verfüge ich über analytisches Denken und eine gute Ausdrucksfähigkeit.</p>
            <div class="sub-text-box">
                @for (item of aboutMeTexts; track $index) {
                    <div class="icon-text-box">
                        <div class="icon-box">
                            <img class="img-contain" src="assets/img/{{ item.name }}.svg" alt="{{ item.name }}">
                        </div>
                         <span>{{ item.text }}</span>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
