@use './../../../styles.scss' as *;

main {
    padding: $padding-main-bottom $padding-main-sides;
    @include flex($a: flex-start, $j: space-between, $g: 96px);
}

.photo-box {
    position: relative;
    margin-bottom: 140px;

    &:hover .photo-background {
        opacity: 1;
    }
}

.text-box {
    align-self: flex-end;
    max-width: 100%;
}

.photo {
    width: 560px;
    max-width: 100%;
    aspect-ratio: 1/1;
    @include img();
}

.photo-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 560px;
    max-width: 100%;
    aspect-ratio: 1/1;
    @include img();
    z-index: -1;
    transform: translate(-46px, 30px);
    opacity: 0;
    transition: all 0.125s ease-in-out;
}

.icon-box {
    width: 32px;
    min-width: 32px;
    max-width: 32px;
    height: 32px;
    @include flex();
}

.icon-text-box {
    @include flex($j: flex-start, $a: flex-start, $g: 24px);
    color: rgba($color-contrast, 0.8);
    width: 100%;

    &:hover {
        color: rgba($color-contrast, 1);
    }
}

.sub-text-box {
    @include flex($g: 16px, $d: column);
}

@media (max-width: 1430px) {
    main {
        padding: $padding-main-bottom $padding-main-sides;
        @include flex($d: column, $g: 96px);
    }

    .text-box {
        align-self: unset;
    }

    .photo-box {
        margin-bottom: 0;
    }
}

@media (max-width: 900px) {
    main {
        padding: $padding-main-bottom $padding-main-sides-900;
    }
}

@media (max-width: 750px) {
    main {
        padding: $padding-main-bottom-750 $padding-main-sides-750;
    }

    .photo-background {
        display: none;
    }
}

@media (max-width: 600px) {
    main {
        padding: $padding-main-bottom-750 $padding-main-sides-600;
    }
}