<main class="aos-animation-parent">
    <section data-aos="fade-right" class="photo-box">
        <img class="photo" src="assets/img/photo.png" alt="photo">
        <img class="photo-background" src="assets/img/hover_photo.svg" alt="photo background">
    </section>
    <section data-aos="fade-left" class="text-box">
        <h4>{{ "about-me.headline" | translate }}</h4>
        <div class="card">
            <h2>{{ "about-me.card-headline" | translate }}</h2>
            <p class="main-text">{{ "about-me.main-text" | translate }}</p>
            <div class="sub-text-box">
                @for (item of translationRefs; track translationRefs; let j = $index) {
                    <div class="icon-text-box">
                        <div class="icon-box">
                            <img class="img-contain" src="assets/img/{{ item }}.svg" alt="{{ item }}">
                        </div>
                         <span>{{ "about-me." + translationRefs[j] | translate }}</span>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
