@use './../../../styles.scss' as *;

main {
    padding: $padding-main-bottom $padding-main-sides;
    @include flex($a: flex-start, $j: space-evenly, $g: 96px);
}

.photo-box {
    position: relative;

    &:hover .photo-background {
        opacity: 1;
    }
}

.photo {
    width: 560px;
    height: 560px;
    @include img();
}

.photo-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 560px;
    height: 560px;
    @include img();
    z-index: -1;
    transform: translate(-46px, 30px);
    opacity: 0;
    transition: all 0.125s ease-in-out;
}

.icon-box {
    width: 32px;
    min-width: 32px;
    max-width: 32px;
    height: 32px;
    @include flex();
}

.icon-text-box {
    @include flex($j: space-between, $a: flex-start, $g: 24px);
    color: rgba($color-contrast, 0.8);

    &:hover {
        color: rgba($color-contrast, 1);
    }
}

.sub-text-box {
    @include flex($g: 16px, $d: column);
}