.transition {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.125s ease-in-out;
    transform: translateY(0);
}

.hide {
    transform: translateY(-100px);
}

.high-contrast {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.8));
}