$color-main: #1c1c1c;
$color-accent: #3dcfb6;
$color-accent-50: rgba(61, 207, 182, 0.5);
$color-contrast: white;
$filter-accent: invert(68%) sepia(25%) saturate(963%) hue-rotate(120deg) brightness(200%) contrast(89%);
$padding-main-sides: 96px;
$padding-main-sides-900: 72px;
$padding-main-sides-750: 56px;
$padding-main-sides-600: 16px;
$padding-main-bottom: 144px;
$padding-main-bottom-750: 100px;
$linear-gradient: linear-gradient(35deg, rgb(28, 28, 28), rgb(28, 28, 28), rgb(28, 28, 28), rgb(8, 70, 59), rgb(8, 70, 59), rgb(8, 70, 59));

@mixin flex($d: row, $a: center, $j: center, $g: 0, $w: nowrap, $f: unset) {
  display: flex;
  flex-direction: $d;
  align-items: $a;
  justify-content: $j;
  gap: $g;
  flex-wrap: $w;
  flex: $f;
}

@mixin img($f: cover) {
  object-fit: $f;
  object-position: center;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.img-cover {
  @include img();
}

.img-contain {
  @include img($f: contain);
}

main {
  width: 100%;
  @include flex();
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 $padding-main-sides $padding-main-bottom $padding-main-sides;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: unset;
  background-color: unset;
  color: $color-contrast;
  cursor: pointer;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: $color-main;
  color: $color-contrast;
  font-family: Karla;
}

h1 {
  font-size: 128px;
  font-weight: 700;
  white-space: nowrap;
  cursor: default;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  color: $color-accent;
  font-family: Fira Code;
  white-space: nowrap;
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: default;
  margin-bottom: 40px;
}

h3 {
  font-size: 40px;
  font-weight: 400;
  font-family: Fira Code;
  white-space: nowrap;
  cursor: default;
}

h4 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: $color-accent;
  // white-space: nowrap;
  cursor: default;
}

h5 {
  margin-bottom: 16px;
  font-family: Fira Code;
  font-size: 24px;
  font-weight: 700;
  color: $color-accent;
  // white-space: nowrap;
  cursor: default;
}

h6 {
  margin-bottom: 48px;
  font-family: Fira Code;
  font-size: 32px;
  font-weight: 700;
  color: $color-accent;
  white-space: nowrap;
  cursor: default;
}

.logo {
  width: 128px;
  object-fit: contain;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 1px);
  }
}

.color-contrast {
  color: $color-contrast;
}

.max-width {
  max-width: 1980px;
}

.position-relative {
  position: relative;
}

.align-self-flex-start {
  align-self: flex-start;
}

.width-100 {
  width: 100%;
}

.card {
  width: 560px;
  max-width: 100%;
  cursor: default;
  padding: 32px;
  border: 1px solid $color-accent;
  border-radius: 30px;
  background-color: rgba($color-accent, 0.1);
}

.main-text {
  margin-bottom: 32px;
}

@keyframes move-left {
  0% {
    transform: translateX(140px);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-140px);
  }
}

.btn-primary-text {
  color: $color-contrast;
  display: inline-block;
  font-size: 18px;
}

.btn-primary {
  padding: 12px 24px;
  border: 1px solid $color-contrast;
  border-radius: 100px;
  transition: all 0.125s ease-in-out;
  overflow: hidden;

  &:hover {
    border-color: $color-accent;
  }

  &:hover .btn-primary-text {
    color: $color-accent;
    transition: all 0.125s ease-in-out;
    animation: move-left 2s linear infinite;
    animation-delay: -1s;
  }

  &:disabled {
    border: 1px solid rgba($color-contrast, 0.8);
    color: rgba($color-contrast, 0.6);
    cursor: default;
  }

  &:disabled .btn-primary-text {
    color: rgba($color-contrast, 0.6);
    animation: unset;
  }
}

.aos-animation-parent {
  overflow-x: hidden !important;
}

.translation-box {
  position: relative;
  width: 84px;
  height: 28px;
  @include flex($g: 0);
}

.btn-translation {
  display: none;

  &+label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    font-family: Fira Code;
    text-align: center;
  }

  &+label:before {
    max-width: 60px;
    width: 84px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid $color-accent;
    content: "EN";
    font-weight: 400;
    text-align: center;
    @include flex($j: flex-start);
    padding: 0 12px;
    color: $color-accent-50;
    transition: all 0.1s linear;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    left: 0px;
  }

  &+label:hover:before {
    border: 1px solid $color-contrast;
    color: $color-accent;
  }

  &+label:after {
    width: 44px;
    height: 29px;
    border-radius: 15px;
    background-color: $color-accent;
    pointer-events: all;
    content: "DE";
    font-weight: 700;
    color: $color-contrast;
    @include flex();
    transition: all 0.1s linear;
    position: absolute;
    top: -1px;
    bottom: 0;
    right: -1px;
    z-index: 10;
  }

  &:checked+label:before {
    content: "DE";
    @include flex($j: flex-end);
  }

  &:checked+label:after {
    content: "EN";
    right: unset;
    left: 0;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 88px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 24px;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  main {
    padding: 0 $padding-main-sides-900 $padding-main-bottom $padding-main-sides-900;
  }
}

@media (max-width: 750px) {
  main {
    padding: 0 $padding-main-sides-750 $padding-main-bottom-750 $padding-main-sides-750;
  }
}

@media (max-width: 600px) {
  main {
    padding: 0 $padding-main-sides-600 $padding-main-bottom-750 $padding-main-sides-600;
  }
}

@media (max-width: 430px) {
  .card {
    padding: 16px;
  }
}

@media (max-width: 380px) {
  h2 {
    font-size: 44px;
  }
}

@media (max-width: 360px) {
  .btn-primary {
    padding: 8px 16px;
  }
}

.display-none {
  display: none !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  border: none;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba($color-accent, 0.3);
  border-radius: 4px;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color-accent, 0.35);
  box-shadow: inset 0 0 5px $color-accent;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
  background: $color-accent;
}