<div class="background">
    <main>
        <h4 data-aos="fade-up">{{ "skill-set.headline" | translate}}</h4>
        <div class="skill-content">
            <section data-aos="fade-up" class="card">
                <h2>{{ "skill-set.card-headline" | translate}}</h2>
                <p class="main-text">{{ "skill-set.main-text" | translate}}</p>
                <h5><span class="color-contrast">{{ "skill-set.question-first" | translate}}</span>{{ "skill-set.question-second" | translate}}</h5>
                <span>{{ "skill-set.main-text-second" | translate}}</span>
                <div class="margin-top-40">
                    <button routerLink="/" fragment="contact" class="btn-primary"><span class="btn-primary-text">{{ "skill-set.card-end" | translate}}</span></button>
                </div>
            </section>
            <section data-aos="fade-down" class="skills-box">
                @for (item of skills; track item; let i = $index) {
                    @if (i === skills.length -1) {
                        <div class="skill-box position-relative last-skill-box">
                            <img class="skill-icon" src="assets/img/skill_set_icons/{{ item.toLocaleLowerCase().replaceAll(' ','_') }}.svg" alt="{{ item }}">
                            <p>{{ item.replaceAll('-','&#8209;') }}</p>
                            <div class="speech-bubble">
                                <p>{{ "skill-set.speech-bubble" | translate}}</p>
                                <div class="interests-box">
                                    @for (interest of interests; track $index) {
                                        <div class="interest-box">
                                            <img src="assets/img/skill_set_icons/{{ interest.toLocaleLowerCase().replaceAll(' ','_') }}.svg" alt="{{ interest }}">
                                            <p>{{ interest }}</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    } @else {
                        <div class="skill-box">
                            <img class="skill-icon" src="assets/img/skill_set_icons/{{ item.toLocaleLowerCase().replaceAll(' ','_') }}.svg" alt="{{ item }}">
                            <p>{{ item.replaceAll('-','&#8209;') }}</p>
                        </div>
                    }
                }
            </section>
        </div>
    </main>
</div>