@use './../../../styles.scss' as *;

.background {
    background-image: radial-gradient(circle at left, rgba($color-accent, 0.3) 0%, $color-main 300px);
    @include flex($a: flex-start, $d: column);
}

main {
    @include flex($d: column);
    padding: 0 $padding-main-sides $padding-main-bottom $padding-main-sides;
    max-width: calc(1288px + (2 * $padding-main-sides));
}

.skill-content {
    @include flex($a: flex-start, $j: center, $g: 96px);
}

.skills-box {
    max-width: 632px;
    @include flex($g: 72px, $w: wrap, $a: flex-start, $j: flex-start);
}

.skill-box {
    cursor: default;
    width: 104px;
    padding: 0 22px;
    @include flex($d: column, $g: 8px, $j: space-between);

    &>p {
        font-family: Fira Code;
        font-size: 18px;
        text-align: center;
    }

    &:hover .skill-icon{
        transform: scale(1.05);
    }

    &:hover .speech-bubble{
        opacity: 1;
    }
}

.skill-icon {
    @include img($f: contain);
    width: 56px;
    height: 65px;
    transition: all 0.125s ease-in-out;
}

.margin-top-40 {
    margin-top: 40px;
}

.speech-bubble {
    background-image: url('./../../../assets/img/speech_bubble.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 188px;
    height: 128px;
    padding: 8px 10px 24px 10px;
    @include flex($d: column, $g: 10px);
    color: $color-accent;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, calc(-50% - 25px));
    opacity: 0;
    transition: all 0.125s ease-in-out;
}

.interests-box {
    @include flex($g: 16px);
}

.interest-box {
    @include flex($d: column);
}