<main>
    <div class="left">
        <img routerLink="/" fragment="atf" class="logo" src="assets/img/logo.svg" alt="logo">
        <p>Web {{ "footer.dev" | translate }}</p>
        <p>Wolfenbüttel {{ "footer.ger" | translate }}</p>
    </div>
    <p class="center">&#169; Nicolas Voges 2025</p>
    <div class="right">
        <div class="position-relative">
            <a href="https://github.com/Nicolas-Voges" target="_blank" class="link">Github</a>
            <img class="green-dot" src="/assets/img/green_dot.svg" alt="">
        </div>
        <div class="position-relative">
            <a href="https://de.linkedin.com/in/nicolas-voges-1903762b8?trk=people-guest_people_search-card" target="_blank" class="link">Linkedin</a>
            <img class="green-dot" src="/assets/img/green_dot.svg" alt="">
        </div>
        <div class="position-relative">
            <a class="link" routerLink='/{{ "footer.links.legal-notice" | translate }}'>{{ "footer.legal-notice" | translate }}</a>
            <img class="green-dot" src="/assets/img/green_dot.svg" alt="">
        </div>
        <div class="position-relative">
            <a class="link" routerLink='/{{ "footer.links.privacy-policy" | translate }}'>{{ "footer.privacy-policy" | translate }}</a>
            <img class="green-dot" src="/assets/img/green_dot.svg" alt="">
        </div>
    </div>
</main>