@use './../../../styles.scss' as *;

main {
    padding-bottom: 64px;
    display: grid;
    grid-template-areas:
        "l c r";
    justify-content: space-between;

    &>.left {
        grid-area: l;
    }

    &>.center {
        font-family: fira code;
        font-size: 18px;
        color: $color-accent;
        grid-area: c;
        white-space: nowrap;
    }

    &>.right {
        grid-area: r;
    }
}

div {
    @include flex($d: column, $a: flex-start, $g: 8px);
}

@media (max-width: 900px) {
    main {
        gap: 32px;

        grid-template-areas:
            "l . r"
            "c c c";

        &>.center {
            text-align: center;
        }
    }
}

@media (max-width: 360px) {
    main {
        gap: 32px;
        justify-content: center;
        text-align: center;

        grid-template-areas:
            "l"
            "r"
            "c";

        &>.right {

            &>p,
            a {
                text-align: center;
                width: 100%;
            }
        }

        &>.left {
            align-self: center;

            &>p,
            a {
                text-align: center;
                width: 100%;
            }

            &>img {
                align-self: center;
            }
        }

        &>.center {
            text-align: center;
            width: 100%;
        }
    }
}