@use './../../../styles.scss' as *;

main {
    padding-bottom: 64px;
    display: grid;
    grid-template-areas:
        "l c r";
    justify-content: space-between;

    &>.left {
        grid-area: l;
    }

    &>.center {
        font-family: fira code;
        font-size: 18px;
        color: $color-accent;
        grid-area: c;
        white-space: nowrap;
    }

    &>.right {
        grid-area: r;
    }
}

div {
    @include flex($d: column, $a: flex-start, $g: 8px);
}

.green-dot {
    width: 8px;
    height: 8px;
    @include img();
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    opacity: 0;
    transition: all 0.125s ease-in-out;
}

.link {
    color: $color-contrast;
    
    &:hover~.green-dot {
        opacity: 1;
    }

    &:hover {
        color: $color-accent;
    }
}

@media (max-width: 900px) {
    main {
        gap: 32px;

        grid-template-areas:
            "l . r"
            "c c c";

        &>.center {
            text-align: center;
        }
    }
}

@media (max-width: 360px) {
    main {
        gap: 32px;
        justify-content: center;
        text-align: center;

        grid-template-areas:
            "l"
            "r"
            "c";

        &>.right {

            &>p,
            div {
                align-self: center;
            }
        }

        &>.left {
            align-self: center;

            &>p,
            a {
                align-self: center;
            }

            &>img {
                align-self: center;
            }
        }

        &>.center {
            text-align: center;
        }
    }
}